<h2>{{@question.title}}</h2>
<div class="h5">
  {{markdown-to-html @question.description}}
</div>

{{component questionInputComponent question=@question answer=answer}}

<div class="d-flex justify-content-end">
  <div>
    <button 
      class="btn btn-block btn-primary mt-3"
      {{action (perform markAnswerTask) answer}}
      disabled={{markAnswerTask.isRunning}}
    >
      {{if markAnswerTask.isRunning 'Saving' 'Save'}}
    </button>
  </div>
</div>
