<h2>{{@question.title}}</h2>
<div class="h5" id="question-container">
  {{markdown-to-html @question.description}}
</div>

{{component questionInputComponent question=@question answer=answer}}

<div class="d-flex justify-content-end">
  <div>
    <button 
      class="btn btn-block btn-primary mt-3"
      {{action (perform markAnswerTask) answer}}
      disabled={{markAnswerTask.isRunning}}
    >
      {{saveButtonText}}
    </button>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
