<h2>{{@question.title}}</h2>
<div class="h5">
  {{@question.description}}
</div>

<Textarea 
  class="form-control"
  style="color: #000000;"
  rows="3" 
  placeholder="Type your answer here..." 
  @value={{answer}}
/>

<div class="d-flex justify-content-end">
  <div>
    <button 
      class="btn btn-block btn-primary mt-3"
      {{action (perform markAnswerTask) answer}}
      disabled={{markAnswerTask.isRunning}}
    >
      {{if markAnswerTask.isRunning 'Saving' 'Save'}}
    </button>
  </div>
</div>
