<div class="d-flex flex-col align-items-center w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group row">
          <div class="card p-4 col-md-6">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <FaIcon @icon="user" />
                  </div>
                </div>
                <Input class="form-control" type="text" placeholder="Email" autocomplete="off" @value={{email}} />
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <FaIcon @icon="lock" />
                  </div>
                </div>
                <Input class="form-control" type="password" placeholder="Password" autocomplete="off" @value={{password}} />
              </div>
              <div class="row">
                <div class="col-12">
                  <button 
                    class="btn btn-primary px-4" 
                    type="button" 
                    disabled={{login.isRunning}}
                    {{action (perform login)}}
                  >
                    {{if login.isRunning 'Logging In' 'Login'}}
                  </button>

                  {{#if login.last.isError}}
                    <div class="red">
                      Invalid Email ID or password
                    </div>
                  {{/if}}
                </div>
                <div class="col-12">
                  <LinkTo @route="forgot-password" class="">Forgot your password?</LinkTo>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 col-md-6">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Register to participate in Inter-Center Online Exam 2021. Test your skills in Online Abacus and Vedic Maths.
                </p>
                <LinkTo @route="register" class="btn btn-lg btn-outline-light mt-3">Register Now</LinkTo>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
