{{#if this.selectedExaminations.length}}
  <Examination::SelectedExamination 
    @selectedExaminations={{this.selectedExaminations}}
    @onRemove={{action 'removeExamination'}}
    @onAfterApply={{action 'onAfterApply'}}
  />
{{/if}}

<h1>Upcoming Exams</h1>

<h2 class="mt-4">Abacus Exams</h2>
<div class="mt-3">
  <Examination::ExaminationList
    @examinations={{abacusExaminations}}
    as |examination|
  >
    <button 
      class="btn btn-primary mt-2"
      disabled={{includes selectedExaminations examination}}
      {{action 'selectExamination' examination}}
    >
      {{if (includes selectedExaminations examination) 'Enrolled' 'Enroll'}}
    </button>
  </Examination::ExaminationList>
</div>

<h2 class="mt-4">Vedic Maths Exams</h2>
<div class="mt-3">
  <Examination::ExaminationList
    @examinations={{vedicExaminations}}
    as |examination|
  >
    <button 
      class="btn btn-primary mt-2"
      disabled={{includes selectedExaminations examination}}
      {{action 'selectExamination' examination}}
    >
      {{if (includes selectedExaminations examination) 'Enrolled' 'Enroll'}}
    </button>
  </Examination::ExaminationList>
</div>

<h2 class="mt-4">English Exams</h2>
<div class="mt-3">
  <Examination::ExaminationList
    @examinations={{englishExaminations}}
    as |examination|
  >
    <button 
      class="btn btn-primary mt-2"
      disabled={{includes selectedExaminations examination}}
      {{action 'selectExamination' examination}}
    >
      {{if (includes selectedExaminations examination) 'Enrolled' 'Enroll'}}
    </button>
  </Examination::ExaminationList>
</div>
