<div class="d-flex flex-col align-items-center w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <FaIcon @icon="user" />
                </div>
              </div>
              <Input 
                class="form-control" 
                type="text" 
                placeholder="Student Name" 
                autocomplete="off"
                @value={{formData.name}}
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <FaIcon @icon="envelope" />
                </div>
              </div>
              <Input 
                class="form-control" 
                type="email" 
                placeholder="Email"
                @value={{formData.email}}
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <FaIcon @icon="lock" />
                </div>
              </div>
              <Input 
                class="form-control" 
                type="password" 
                placeholder="Password"
                @value={{formData.password}}
              />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <FaIcon @icon="lock" />
                </div>
              </div>
              <Input 
                class="form-control" 
                type="password" 
                placeholder="Repeat password"
                @value={{formData.passwordRepeat}}
              />
            </div>
            <button 
              class="btn btn-block btn-success"
              {{action (perform createAccountTask)}}
            >
              {{if createAccountTask.isRunning 'Creating' 'Create Account'}}
            </button>
            {{#if lastResult.isError}}
              <div class="red mt-3 t-align-c">
                Can't create user
                <ul>
                  <li>Check if the passwords are same</li>
                  <li>Check if the email is available or not</li>
                </ul>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
