<div class="d-flex flex-col align-items-center w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <FaIcon @icon="user" />
                </div>
              </div>
              <Input
                class="form-control"
                type="text"
                placeholder="Student Name"
                autocomplete="off"
                @value={{formData.name}}
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <FaIcon @icon="phone" />
                </div>
              </div>
              <Input
                class="form-control"
                type="text"
                placeholder="Phone Number (10 digits)"
                @value={{formData.phone}}
                disabled={{if-equals this.state "otp-input"}}
              />
            </div>

            {{#if (if-equals this.state "phone-input")}}
              <button
                type="button"
                class="btn btn-primary px-4"
                {{action (perform sendOtp)}}
              >Send OTP</button>
            {{else}}
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <FaIcon @icon="key" />
                  </div>
                </div>
                <Input
                  class="form-control"
                  type="text"
                  placeholder="OTP"
                  @value={{formData.otp}}
                />
              </div>
              <button
                class="btn btn-block btn-success"
                {{action (perform createAccountTask)}}
              >
                {{if createAccountTask.isRunning "Creating" "Create Account"}}
              </button>
            {{/if}}

            {{#if lastResult.isError}}
              <div class="red mt-3 t-align-c">
                Can't create user
                <ul>
                  <li>Check if the phone number is correct</li>
                  <li>Check if OTP is correct</li>
                </ul>
              </div>
            {{/if}}

            {{#if sendOtp.last.isError}}
              <div class="red mt-3 t-align-c">
                Can't send OTP
                <ul>
                  <li>Check if user is already registered</li>
                  <li>Check if credentials are valid</li>
                </ul>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>