<table class="table table-responsive-sm table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Type</th>
      <th>Starts In</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{@model.examinationData.title}}</td>
      <td>{{@model.examinationData.description}}</td>
      <td>{{@model.examinationData.type}}</td>
      <td>
        <Timer @to={{moment @model.examinationData.start}} @onEnd={{action "onEnd"}} as |t|>
            DaysLeft: {{t.days}}
            HoursLeft: {{t.hours}}
            MinutesLeft: {{t.minutes}}
            SecondsLeft: {{t.seconds}}
        </Timer>
      </td>
    </tr>
  </tbody>
</table>
