<div class="card">
  <div class="card-header">
    <strong>
      User Profile
    </strong>
  </div>
  <div class="card-body">
    <form class="form-horizontal">
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Roll Number</label>
        <div class="col-md-9">
          <Input 
            class="form-control" 
            autocomplete="off" 
            @disabled={{true}}
            @value={{@user.id}}
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Father's / Mother's Name</label>
        <div class="col-md-9">
          <Input 
            class="form-control" 
            autocomplete="off" 
            @value={{@profile.guardianName}}
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Contact Number (Preferably Whatsapp)</label>
        <div class="col-md-9">
          <Input 
            class="form-control" 
            autocomplete="off" 
            @value={{@profile.contact}}
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Address</label>
        <div class="col-md-9">
          <Textarea 
            class="form-control"
            rows="3" 
            placeholder="Address" 
            @value={{@profile.address}} />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">City</label>
        <div class="col-md-9">
          <Input 
            class="form-control" 
            autocomplete="off" 
            @value={{@profile.city}}
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Country</label>
        <div class="col-md-9">
          <Input 
            class="form-control" 
            autocomplete="off" 
            @value={{@profile.country}}
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Class</label>
        <div class="col-md-9">
          <Input 
            class="form-control" 
            autocomplete="off" 
            @value={{@profile.class}}
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">School</label>
        <div class="col-md-9">
          <Input 
            class="form-control" 
            autocomplete="off" 
            @value={{@profile.school}}
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Current Course(s)</label>
        <div class="col-md-9">
          <PowerSelectMultiple
            @options={{this.availableCourses}}
            @selected={{@profile.currentCourse}}
            @onChange={{fn (mut @profile.currentCourse)}} as |name|>
            {{name}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Current Level</label>
        <div class="col-md-9">
          <Input 
            class="form-control" 
            autocomplete="off" 
            @value={{@profile.currentLevel}}
          />
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button 
      class="btn btn-sm btn-primary" 
      {{action (perform saveProfileTask)}}
      disabled={{saveProfileTask.isRunning}}
    > 
      {{if saveProfileTask.isRunning 'Submitting' 'Submit'}}
    </button>
  </div>
</div>