<div class="c-wrapper c-fixed-components">
  <ExamAttempt::ExamAttemptHeader />

  <div class="c-body p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          {{#if @model.currentQuestion}}
            <Question::QuestionContainer 
              @question={{@model.currentQuestion}}
              @onAfterAnswer={{action 'nextQuestion'}}
            />  
          {{/if}}
        </div>
        <div class="col-md-5">
          <Question::QuestionNavigation
            @questions={{@model.questions}}
            @currentQuestion={{@model.currentQuestion}}
            @onNavigate={{action (mut q)}}
          />
        </div>
      </div>
    </div>
  </div>
</div>
