<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
  <button 
    class="c-header-toggler c-class-toggler d-lg-none mfe-auto" 
    {{action 'toggleSidebar'}}
  >
    <FaIcon @icon="bars" />
  </button>
  <ul class="c-header-nav ml-auto mr-4">
    <li class="c-header-nav-item dropdown" {{on-click-outside (action (mut showPopup) false)}}>
      <a 
        class="c-header-nav-link bold"
        href="#"
        {{action (mut showPopup) true}}
      >
        {{currentUser.user.name}}
      </a>
      <div class="dropdown-menu dropdown-menu-right pt-0 {{if showPopup 'show' }}">
        <div class="dropdown-header bg-light py-2">
          <strong>Account</strong>
        </div>
        <a 
          class="dropdown-item" 
          href="#"
          {{action 'logout'}}
        >
          Logout
        </a>
      </div>
    </li>
  </ul>
</header>