
<div class="container">
  <h1>Dashbaord</h1>

  <div class="row mt-4">
    {{#unless currentUser.user.verified}}
    <div class="col-md-6">
      <h2>Unverified Email</h2>

      <div class="mt-4">
        <VerifyUser />
      </div>
    </div>
    {{/unless}}
    <div class="col-md-6">
      <div class="d-flex justify-content-between">
        <h2>Profile</h2>
        
        <button 
          class="btn btn-primary"
          {{action 'toggleProfileView'}}
        >
          {{if (eq currentProfileView 'view') 'Edit Profile' 'View Profile'}}
        </button>
      </div>

      <div class="mt-2">
        {{#if (eq currentProfileView 'view')}}
          <Profile::ProfileView 
            @user={{currentUser.user}}
            @profile={{currentUser.profile}}
          />
        {{else if (eq currentProfileView 'edit')}}
          <Profile::ProfileEditor
            @user={{currentUser.user}}
            @profile={{currentUser.profile}}
          />
        {{/if}}
      </div>
    </div>
  </div>

  <h2 class="mt-4">Applied Exams</h2>

  <div class="row class mt-4">
    <div class="col-12">
      <WidgetPack::WAsync
        @task={{fetchExamAttemptsTask}}
        @autoFire={{true}}
        as |examAttempts|
      >
        <ExamAttempt::ExamAttemptList 
          @examAttempts={{examAttempts}}
        />
      </WidgetPack::WAsync>
    </div>
  </div>
</div>
